
<div class="" style="background-image:url('./public/images/search.jpg');width:100%;height:970px;background-repeat:no-repeat;background-size:cover">
    <div class=" container">
        <div class="row" style="padding-top:5%;margin-right:0px!important;">
            
            <div class="col-lg-6" align="left" style="padding-bottom:20px">
                <a href="#/home" class="btn btn-primary">Back to Home</a>
            </div>
            <div class="col-lg-6" align="right" style="padding-bottom:20px">
                <a href="#/login" class="btn btn-danger">Logout</a>
            </div>
            <p style="text-align:center;font-size:30px;font-weight:700;background:#fff;opacity:0.9;padding:20px;margin-top: 60px;">SETTINGS <i class="fa fa-cogs" aria-hidden="true" style="font-size:35px"></i></p>
            <div class="col-lg-3" align="center" style="background:#fff;opacity:0.9;padding:20px;height:400px">
                <ul style="padding:0px!important">
                    <li id="adduse" style="list-style:none;padding:10px">
                        <button style="width:200px" class="btn btn-primary" onclick="adduser()" >Add New User</button>
                    </li>
                    <li id="removeuse" style="list-style:none;padding:10px">
                        <button style="width:200px" class="btn btn-primary" onclick="removeuser()">Remove User</button>
                    </li><!-- 
                    <li id="changepass" style="list-style:none;padding:10px">
                        <button style="width:200px" class="btn btn-primary" >Change Password</button>
                    </li> -->
                </ul>
            </div>
            <div class="col-lg-9" style="background:#fff;opacity:0.9;padding:20px;height:400px">
                <div id="Default" style="background:#F1F1F1;height:100%">
                    <p style="text-align:center;font-size:36px;font-weight:700;padding-top: 146px;">Welcome To Admin Settings</p>
                   
                </div>
                <div id="addUser" style="background:#F1F1F1;display:none;height:100%;">
                    <p style="text-align:center;font-size:23px;font-weight:700;padding:20px 10px">Enter New User Details</p>
                    <table  class="table" >
                        <tr>
                            <td>Enter New Username :</td>
                            <td><input class="form-control" ng-model="user.username" type="text" name="" required></td>
                        </tr>
                        <tr>
                            <td>Enter New Password :</td>
                            <td><input class="form-control" ng-model="user.password" type="password" name="" required></td>
                        </tr>
                        <tr>
                            <td>Enter Admin Password :</td>
                            <td><input class="form-control" ng-model="adminPass" type="password" name="" required></td>
                        </tr>
                        <tr>
                            <td align="center" ><button class="btn btn-primary" ng-click="addUser(user)" style="width:150px;margin-top:15px">Add User</button></td>
                            <td align="center" ><button class="btn btn-primary" ng-click="clearall()" style="width:150px;margin-top:15px">Clear All</button></td>
                        </tr> 
                                  
                    </table>
                </div>
                <div id="removeUser" style="background:#F1F1F1;display:none;height:100%">
                    <p style="text-align:center;font-size:23px;font-weight:700;">Select user to delete</p>
                    <table  class="table">
                        <tr>
                            <td>Select Username :</td>
                            <td>
                                <select class="form-control"  ng-model="del.username" ng-options="o.username for o in options" name="users name"  required="" >
                                    <option selected disabled>Choose here</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Enter Admin Password :</td>
                            <td><input class="form-control" ng-model="del.delUser" type="password" name="" required></td>
                        </tr>
                        <tr>
                            <td align="center"><button class="btn btn-danger" ng-click="deleteUser(del)">Delete User</button></td>
                            <td align="center"><button class="btn btn-warning" ng-click="clearall()">Clear</button></td>
                        </tr>               
                    </table>
                </div>
                <div id="changePass" style="background:#F1F1F1;display:none;height:100%">
                    <p style="text-align:center;font-size:23px;font-weight:700;">Enter User to delete</p>
                    <table  class="table">
                        <tr>
                            <td>Select Username :</td>
                            <td>
                                <select class="form-control"  ng-change="removeUser()" ng-model="select.user" ng-options="o.user for o in options" required="" >
                                    <option selected >Choose here</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Enter Admin Password :</td>
                            <td><input class="form-control" type="paswword" name=""></td>
                        </tr>
                        <tr>
                            <td align="center"><button class="btn btn-danger">Delete User</button></td>
                            <td align="center"><button class="btn btn-warning">Clear</button></td>
                        </tr>               
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function adduser()
    {       
        if(document.getElementById("addUser").style.display == "none")
        {
            
                document.getElementById("addUser").style.display = "block";
                document.getElementById("adduse").style.background = "#F1F1F1";
                document.getElementById("Default").style.display = "none";
                document.getElementById("removeuse").style.background = "none";
                document.getElementById("removeUser").style.display = "none";
            
        }
        else
        {
                document.getElementById("addUser").style.display = "none";
                document.getElementById("adduse").style.background = "none";
                document.getElementById("Default").style.display = "block";
        }
    }
    function removeuser()
    {       
        if(document.getElementById("removeUser").style.display == "none")
        {
                document.getElementById("removeUser").style.display = "block";
                document.getElementById("removeuse").style.background = "#F1F1F1";
                document.getElementById("Default").style.display = "none";
                document.getElementById("addUser").style.display = "none";
                document.getElementById("adduse").style.background = "none";
                
        }
        else
        {
                document.getElementById("removeUser").style.display = "none";
                document.getElementById("removeuse").style.background = "none";
                document.getElementById("Default").style.display = "block";
        }
    }

</script>